.error {
        color: #bb3434;
        font-size: 12px;
    }

    input.error {
        border-color: #bb3434 !important;
    }

    select.error {
        border-color: #bb3434 !important;
    }
.table-responsive{style="max-height:700px;"}
#submit{margin-top:24px;}
.datatable{width:100%;font-size:14px;}